.left-box {
  border: 0.5px solid grey;
  border-radius: 30px;
  flex-basis: 10%;
  padding: 50px;
  align-self: flex-start;
  text-align: center;
}

.right-box {
  border: 0.5px solid grey;
  border-radius: 100px;
  flex-basis: 45%;
  padding: 50px;
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .left-box {
    border: solid grey;
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
  }
  .right-box {
    border: solid grey;
    flex-basis: 100%;
    padding: 50px;
    margin-top: 30px;
    border: solid 0.5px;
    border-radius: 100%;
  }
}

.top-box {
  flex-basis: 30%;
  border: solid yellow;
  border-radius: 5px;
  text-align: center;
  border: solid 0.5px;
  border-radius: 100%;
}

.bottom-box {
  flex-basis: 60%;
  border: solid yellow;
}

h4 {
  display: block;
  margin: 30px;
  text-decoration: none;
}

.city {
  margin: 20px;
}

.city:hover {
  color: rgb(73, 73, 69);
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(68, 170, 107);
  color: white;
}

.h {
  cursor: pointer;
  color: gray;
  width: 150px;
  margin: 10px;
}

.h:hover {
  color: rgb(68, 170, 107);
}

.table-container {
  width: 100%;
}

.table-container th {
  border: 1px solid #ddd;
  padding: 8px;
}

menu {
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  padding-left: 15px;
}

.vertical-menu {
  width: 300px;
  height: 300px;
  overflow-y: auto;
  background-color: rgb(68, 170, 107);
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu menu:hover {
  background-color: rgb(152, 197, 156);
}

.menu-header {
  background-color: rgb(38, 170, 148);
  text-align: center;
  color: white;
  height: 50px;
  width: 300px;
  display: inline-block;
}

.vertical-menu a.active2 {
  background-color: rgb(85, 182, 114);
  color: white;
}

#loadBtn:hover {
  background-color: rgb(153, 111, 56);
}

ul:hover {
  color: bisque;
}
